# Demographic data

Here i want to have a look at whether are any trend in ziplocations and whether people are more suseptible to ads. to do this i will map the zip codes to their respective lat long and look at the heatmap distributon on a map

In [32]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from itertools import product
from scipy.stats import f_oneway
from sklearn.metrics import mean_absolute_error, mean_squared_error, auc
def NormalizeData(data):
    return ((data - np.min(data)) / (np.max(data) - np.min(data)) * 50)  + 50
import matplotlib.pyplot as plt

In [37]:
all_data = pd.read_csv("./test_param_performance.csv")

/home/richard/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [38]:
all_data

,advertiser_id,insertion_order_id,line_item_id,device_type,weekday_user_tz,hour_user_tz,country,region,city,dma,postal_code,pixel_id,impressions,clicks,booked_revenue_adv_curr,booked_revenue,conversions,ctr,rpm,rpa_adv_curr
0,5195404,5407889,13917115,Mobile,0,0,US,MI,191098,563,49010,0,2,0,0.009409,0.009409,0,0.0,4.704659,NaN
1,5195404,5407889,13917115,Mobile,0,0,US,MI,191101,505,48101,1433571,0,0,0.000000,0.000000,1,NaN,NaN,0.026459
2,5195404,5407889,13917115,Mobile,0,0,US,MI,191111,505,48105,0,4,0,0.025207,0.025207,0,0.0,6.301780,NaN
3,5195404,5407889,13917115,Mobile,0,0,US,MI,191124,505,48326,0,11,0,0.057601,0.057601,0,0.0,5.236425,NaN
4,5195404,5407889,13917115,Mobile,0,0,US,MI,191134,563,49013,0,1,0,0.003903,0.003903,0,0.0,3.903120,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675482,5195404,5407889,16423703,Tablets,1,9,US,MI,191836,563,49089,0,3,0,0.035028,0.035028,0,0.0,11.676000,NaN
3675483,5195404,5407889,16423703,Tablets,1,9,US,MI,191853,505,48195,0,3,0,0.021730,0.021730,0,0.0,7.243185,NaN
3675484,5195404,5407889,16423703,Tablets,1,9,US,MI,191861,563,49456,0,3,0,0.023906,0.023906,0,0.0,7.968636,NaN
3675485,5195404,5407889,16423703,Tablets,1,9,US,MI,191870,505,48313,0,1,0,0.009036,0.009036,0,0.0,9.036000,NaN
3675486,5195404,5407889,16423703,Tablets,1,9,US,MI,191881,547,49286,0,1,0,0.012348,0.012348,0,0.0,12.348000,NaN

In [39]:
all_data['postal_code'] = all_data['postal_code'].astype(str)

In [40]:
zip_ctr = all_data.groupby('postal_code').agg({'ctr': 'mean'}).reset_index()

In [6]:
dem_data = pd.read_csv("../data/demographic_data.csv")

In [7]:
dem_data['Geographic Area Name'] = dem_data['Geographic Area Name'].astype(str)

In [8]:
dem_data.replace('-', 0, inplace=True)

In [9]:
all_data[all_data['postal_code'] =='---']

,advertiser_id,insertion_order_id,line_item_id,device_type,weekday_user_tz,hour_user_tz,country,region,city,dma,postal_code,pixel_id,impressions,clicks,booked_revenue_adv_curr,booked_revenue,conversions,ctr,rpm,rpa_adv_curr
12124,5195404,5407889,13917115,Mobile,1,17,US,MI,191501,553,---,0,1,0,0.006376,0.006376,0,0.0,6.375680,NaN
31218,5195404,5407889,13917115,Mobile,3,20,US,MI,191501,553,---,0,1,0,0.005833,0.005833,0,0.0,5.832843,NaN
35760,5195404,5407889,13917115,Mobile,4,7,US,MI,191501,553,---,0,1,0,0.005747,0.005747,0,0.0,5.746540,NaN
40993,5195404,5407889,13917115,Mobile,4,21,US,MI,191501,553,---,0,6,0,0.039329,0.039329,0,0.0,6.554778,NaN
44254,5195404,5407889,13917115,Mobile,5,2,US,MI,191143,563,---,0,2,0,0.009502,0.009502,0,0.0,4.751079,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3635157,5195404,5407889,16344147,Mobile,4,10,US,MI,191465,505,---,0,2,0,0.007485,0.007485,0,0.0,3.742563,NaN
3639086,5195404,5407889,16344147,Mobile,4,11,US,MI,191465,505,---,0,2,0,0.007454,0.007454,0,0.0,3.726822,NaN
3652179,5195404,5407889,16344147,Mobile,5,10,US,MI,191870,505,---,0,1,0,0.005155,0.005155,0,0.0,5.154784,NaN
3665891,5195404,5407889,16344147,Mobile,6,10,US,MI,191713,513,---,0,1,0,0.005006,0.005006,0,0.0,5.006252,NaN
3667302,5195404,5407889,16344147,Mobile,6,18,US,MI,191168,505,---,0,1,0,0.002935,0.002935,0,0.0,2.935152,NaN

In [10]:
merged = pd.merge(zip_ctr[['postal_code', 'ctr']], dem_data, left_on = 'postal_code', right_on = 'Geographic Area Name', how='outer')

Interestingly there are 3 zip codes present in the demographic data but not in the given data set

In [11]:
merged[(merged['postal_code']!=merged['postal_code']) | (merged['postal_code'] == '---')]

,postal_code,ctr,Unnamed: 0,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,...,Estimate!!SEX AND AGE!!Total population!!18 years and over,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Geographic Area Name
0,---,0.000272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,NaN,NaN,485.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,48921
1049,NaN,NaN,988.0,117.2,886.0,863.0,23.0,858.0,0.0,5.0,...,797.0,784.0,348.0,278.0,440.0,357.0,123.2,150.0,128.0,54540
1050,NaN,NaN,989.0,117.9,960.0,924.0,36.0,887.0,10.0,16.0,...,832.0,824.0,420.0,353.0,440.0,392.0,112.2,191.0,162.0,54554

In [12]:
merged_clean = merged[(merged['postal_code'] == merged['postal_code']) & (merged['postal_code'] != '---')]

In [13]:
merged_clean.drop(['Geographic Area Name', 'Unnamed: 0', 'id'], axis=1, inplace=True)

/home/richard/anaconda3/envs/default/lib/python3.8/site-packages/pandas/core/frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
merged_clean[~merged_clean['postal_code'].isin(merged_clean.dropna()['postal_code'].to_list())]

,postal_code,ctr,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping,...,Estimate!!SEX AND AGE!!Total population!!16 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
31,48046,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,48061,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,48068,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,48090,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,48099,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,49711,0.000616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,49723,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,49737,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,49739,0.000154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929,49784,0.008621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I had a look through some of these instances where nan was present for all demographic columns  and i found that the ones i checked were for post codes where people don't live in the middle of nowhere. for example of of the zip codes was for a tiny area that had a church in it. therefore for these values i'm going to full all the nan with zero to specify that nobody lives here

In [15]:
merged_clean.fillna(0, inplace=True)

/home/richard/anaconda3/envs/default/lib/python3.8/site-packages/pandas/core/frame.py:4316: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [16]:
merged_clean = merged_clean.astype(float)

Lets have a look at all the variables here. I want to see what variables correlate well will ctr and with each other to help me exclude veriables that could cause over fitting

# check if anythin correlates with ctr
alas no

In [17]:
def trimm_correlated(df_in, threshold):
    df_corr = df_in.corr(method='pearson', min_periods=1)
    df_not_correlated = ~(df_corr.mask(np.tril(np.ones([len(df_corr)]*2, dtype=bool))).abs() > threshold).any()
    un_corr_idx = df_not_correlated.loc[df_not_correlated[df_not_correlated.index] == True].index
    df_out = df_in[un_corr_idx]
    return df_out

In [18]:
drimmed_dem_df = trimm_correlated(merged_clean, 0.9)

In [20]:
drimmed_dem_df

,postal_code,ctr,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping,...,Estimate!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!15 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 24 years,Estimate!!SEX AND AGE!!Total population!!Median age (years)
1,48001.0,0.002425,87.0,11885.0,44.0,7.0,56.0,0.0,0.0,0.0,...,12.0,1.0,0.0,37.0,0.0,0.0,103.8,507.0,547.0,48.3
2,48002.0,0.001797,89.1,3234.0,54.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,103.4,277.0,231.0,44.0
3,48003.0,0.000402,108.5,6240.0,31.0,2.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,104.5,368.0,351.0,43.2
4,48005.0,0.001328,75.0,5500.0,62.0,35.0,16.0,0.0,0.0,0.0,...,0.0,0.0,62.0,29.0,0.0,0.0,102.9,456.0,340.0,46.3
5,48006.0,0.001392,95.9,4160.0,109.0,17.0,19.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,113.9,354.0,207.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,49967.0,0.001876,111.1,469.0,2.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,115.1,29.0,20.0,57.6
1044,49968.0,0.001560,76.2,1929.0,21.0,22.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,102.4,96.0,77.0,53.8
1045,49969.0,0.001288,95.4,1271.0,24.0,12.0,310.0,5.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,90.3,36.0,39.0,57.6
1046,49970.0,0.000736,124.4,288.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,150.4,26.0,4.0,58.1
1047,49971.0,0.000309,111.9,443.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,117.2,20.0,23.0,59.0

In [22]:
#drimmed_dem_df.to_csv("../data/non_colinear_demographic_data.csv")